@model TP_Finale_David_Rodier.Models.Game
@{
    ViewBag.Title = "Home Page";
}

<style>
    img{
        width:75px;
    }
    span{
        font-family:Arial;
        font-size:large;
    }
    td{
        border:black 1px;
        border-style:double;
    }
    .stars_td{
        border:hidden;
    }
    .stars{
        font-size:larger;
        cursor:pointer;
    }
</style>

<script type="text/javascript">
    function ChangeStar_Over(num, name){
        document.getElementById("Star_" + num + "_" + name).textContent = "&#9733";
    }
    function ChangeStar_Out(num, name) {
        document.getElementById("Star_" + num + "_" + name).textContent = "&#9734";
    }
</script>

<h2>Ratings</h2>

<table>
    @while (Model.Next()){
        <tr><td><img src=@Model.Image_Path /></td>
            <td><span>@Model.Name made by @Model.Creator</span></td>
            <td id="Star_1_@Model.Name" class="stars_td" style="border-left: double black 1px"><span class="stars" onmouseover="ChangeStar(1, @Model.Name)" onmouseout="ChangeStar(1, @Model.Name)">&#9734 </span></td>
            <td id="Star_2_@Model.Name" class="stars_td"><span class="stars" onmouseover="ChangeStar(2, @Model.Name)" onmouseout="ChangeStar(2, @Model.Name)">&#9734 </span></td>
            <td id="Star_3_@Model.Name" class="stars_td"><span class="stars" onmouseover="ChangeStar(3, @Model.Name)" onmouseout="ChangeStar(3, @Model.Name)">&#9734 </span></td>
            <td id="Star_4_@Model.Name" class="stars_td"><span class="stars" onmouseover="ChangeStar(4, @Model.Name)" onmouseout="ChangeStar(4, @Model.Name)">&#9734 </span></td>
            <td id="Star_5_@Model.Name" class="stars_td"><span class="stars" onmouseover="ChangeStar(5, @Model.Name)" onmouseout="ChangeStar(5, @Model.Name)">&#9734 </span></td>
        </tr>
    }
</table>