@model IEnumerable<TP_Finale_David_Rodier.Models.Game>
@{
    ViewBag.Title = "Home Page";
}

<style>
    img {
        width: 75px;
    }

    span {
        font-family: Arial;
        font-size: large;
    }

    td {
        border: #222288 5px;
        border-style: double;
    }

    tr {
        width: 350px;
        height: 100px;
    }

    .stars_td {
        border-top: #222288 5px;
        border-bottom: #222288 5px;
        border-style: double;
        border-left: hidden;
        border-right: hidden;
        padding-right: 3px;
        padding-left: 3px;
    }

    .stars {
        font-size: larger;
        cursor: pointer;
        width: 20px;
    }
    .Icon_Manage {
        width:20px;
        height:20px;
    }
</style>

<script type="text/javascript">
    function Image_Over(Image, Nb, Name) {
        Image.src = "/Images/Star_Filled.png";
        for (var i = 1; i < Nb; i++) {
            document.getElementById("Star_" + i + "_" + Name).src = "/Images/Star_Filled.png";
        }
    }
    function Set_Image(Rating, Name) {
        var temp = Rating + 1;
        for (var i = 1; i <= Rating; i++) {
            document.getElementById("Star_" + i + "_" + Name).src = "/Images/Star_Filled.png";
        }
        for (var i = temp; i <= 5; i++) {
            document.getElementById("Star_" + i + "_" + Name).src = "/Images/Star_Empty.png";
        }
    }
</script>

<h2 id="test">Ratings</h2>

<table>
    @for (int i = 0; i < @Model.Count(); i++)
    {
        <tr>
            <td><img src=@Model.ElementAt(i).Image_Path /></td>
            <td>
                <span>@Model.ElementAt(i).Name made by @Model.ElementAt(i).Creator</span>
                @if (Session["LogedType"].ToString() == "ADMIN")
                {
                    <td style="border-left:hidden; border-right:hidden; padding-right:10px;"><img class="Icon_Manage" src="/Images/delete.png" /></td><td style="border-left:hidden; padding-right:10px;"><img class="Icon_Manage" src="/Images/edit.png" /></td>
                }
            </td>
            @*  *@
            <td class="stars_td" style="border-left: double #222288 5px; ">
                @if (Model.ElementAt(i).Rating >= 1)
                {
                    <img id="Star_1_@Model.ElementAt(i).Name"
                         class="stars"
                         src="/Images/Star_Filled.png"
                         onmouseout="Set_Image(@Model.ElementAt(i).Rating, '@Model.ElementAt(i).Name')" />
                }
                else
                {
                    <img id="Star_1_@Model.ElementAt(i).Name"
                         class="stars"
                         src="/Images/Star_Empty.png"
                         onmouseover="Image_Over(this, 1, '@Model.ElementAt(i).Name')"
                         onmouseout="Set_Image(@Model.ElementAt(i).Rating, '@Model.ElementAt(i).Name')" />
                }
            </td>
            @*  *@
            <td class="stars_td">
                @if (Model.ElementAt(i).Rating >= 2)
                {
                    <img id="Star_2_@Model.ElementAt(i).Name"
                         class="stars"
                         src="/Images/Star_Filled.png"
                         onmouseout="Set_Image(@Model.ElementAt(i).Rating, '@Model.ElementAt(i).Name')" />
                }
                else
                {
                    <img id="Star_2_@Model.ElementAt(i).Name"
                         class="stars"
                         src="/Images/Star_Empty.png"
                         onmouseover="Image_Over(this, 2, '@Model.ElementAt(i).Name')"
                         onmouseout="Set_Image(@Model.ElementAt(i).Rating, '@Model.ElementAt(i).Name')" />
                }
            </td>
            @*  *@
            <td class="stars_td">
                @if (Model.ElementAt(i).Rating >= 3)
                {
                    <img id="Star_3_@Model.ElementAt(i).Name"
                         class="stars"
                         src="/Images/Star_Filled.png"
                         onmouseout="Set_Image(@Model.ElementAt(i).Rating, '@Model.ElementAt(i).Name')" />
                }
                else
                {
                    <img id="Star_3_@Model.ElementAt(i).Name"
                         class="stars"
                         src="/Images/Star_Empty.png"
                         onmouseover="Image_Over(this, 3, '@Model.ElementAt(i).Name')"
                         onmouseout="Set_Image(@Model.ElementAt(i).Rating, '@Model.ElementAt(i).Name')" />
                }
            </td>
            @*  *@
            <td class="stars_td">
                @if (Model.ElementAt(i).Rating >= 4)
                {
                    <img id="Star_4_@Model.ElementAt(i).Name"
                         class="stars"
                         src="/Images/Star_Filled.png"
                         onmouseout="Set_Image(@Model.ElementAt(i).Rating, '@Model.ElementAt(i).Name')" />
                }
                else
                {
                    <img id="Star_4_@Model.ElementAt(i).Name"
                         class="stars"
                         src="/Images/Star_Empty.png"
                         onmouseover="Image_Over(this, 4, '@Model.ElementAt(i).Name')"
                         onmouseout="Set_Image(@Model.ElementAt(i).Rating, '@Model.ElementAt(i).Name')" />
                }
            </td>
            @*  *@
            <td class="stars_td" style="border-right: double #222288 5px">
                @if (Model.ElementAt(i).Rating >= 5)
                {
                    <img id="Star_5_@Model.ElementAt(i).Name"
                         class="stars"
                         src="/Images/Star_Filled.png"
                         onmouseout="Set_Image(@Model.ElementAt(i).Rating, '@Model.ElementAt(i).Name')" />
                }
                else
                {
                    <img id="Star_5_@Model.ElementAt(i).Name"
                         class="stars"
                         src="/Images/Star_Empty.png"
                         onmouseover="Image_Over(this, 5, '@Model.ElementAt(i).Name')"
                         onmouseout="Set_Image(@Model.ElementAt(i).Rating, '@Model.ElementAt(i).Name')" />
                }
            </td>
        </tr>
    }
</table>